@import "navbar.css";
@import "footer.css";


body{
	background-image: url(../img/background.jpg);
}


.musicPlaylist{
	margin-top: 60px;
	margin-left: 450px;
}

#playlist{
	list-style-type: none;
}

#playlist, audio{
	background: #8DB600;
	width: 400px;
	padding: 5px;
}

.active a{
	color: #138808;
	text-decoration: none;
}

#playlist li a{
	color: #eeeedd;
	background: #333;
	padding: 5px;
	display: block;
}

li a:hover{
	text-decoration: none;
}

.tracks{
	padding-left: 50px;
}

.tracks p{
	color: white;
}
